
@{
    ViewBag.Title = "Schedule";
}

    <div id="page">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="widget-config" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>Widget Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here will be a configuration form</p>
            </div>
        </div>
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN STYLE CUSTOMIZER-->
                    <div id="styler" class="hidden-phone">
                        <i class="icon-cog"></i>
                        <span class="settings">
                            <span class="text">Style:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default">
                                </span>
                                <span class="color-grey" data-style="grey">
                                </span>
                                <span class="color-navygrey" data-style="navygrey">
                                </span>
                                <span class="color-red" data-style="red">
                                </span>
                            </span>
                            <span class="layout">
                                <label class="hidden-phone">
                                    <input type="checkbox" class="header" checked value="" />Sticky Header
                                </label><br />
                                <label><input type="checkbox" class="metro" value="" />Metro Style</label>
                                <span class="space5"></span>
                                <a class="btn fancybox-button" data-rel="fancybox-button" title="Conquer Large Desktop Preview" href="assets/img/demo/desktop.png"><i class="icon-eye-open"></i> Screenshots</a>
                                <a class="fancybox-button" data-rel="fancybox-button" title="Conquer Notebook Preview" href="assets/img/demo/notebook.png"></a>
                                <a class="fancybox-button" data-rel="fancybox-button" title="Conquer Tablet Preview" href="assets/img/demo/tablet.png"></a>
                                <a class="fancybox-button" data-rel="fancybox-button" title="Conquer Phone Preview" href="assets/img/demo/phone.png"></a>
                            </span>
                        </span>
                    </div>
                    <!-- END STYLE CUSTOMIZER-->
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        Schedule
                        <small>Edit your workers' times here!</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="@Url.Action("Index", "Home")">Home</a> <span class="divider">/</span>
                        </li>
                        <li><a href="#">Schedule</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div id="page">
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN CALENDAR PORTLET-->
                        <div class="widget">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>Schedule for @DateTime.UtcNow.Month</h4>
                                <span class="tools">
                                    <a href="#widget-config" data-toggle="modal" class="icon-wrench"></a>
                                    <a href="javascript:;" class="icon-refresh"></a>
                                </span>
                            </div>
                            <div class="widget-body">
                                <div class="row-fluid">
                                    <div class="span3 responsive" data-tablet="span12 fix-margin" data-desktop="span8">
                                        <!-- BEGIN DRAGGABLE EVENTS PORTLET-->
                                        <h3 class="event-form-title">Draggable Events</h3>
                                        <div id="external-events">
                                            <form class="inline-form">
                                                <input type="text" value="" class="span12" placeholder="Event Title..." id="event_title" /><br />
                                                <select id="event_priority" data-placeholder="Select color..." class="span12 chosen">
                                                    <option value=""></option>
                                                    <option value="default">Grey</option>
                                                    <option value="success">Green</option>
                                                    <option value="info">Blue</option>
                                                    <option value="warning">Yellow</option>
                                                    <option value="important">Red</option>
                                                </select>
                                                <div class="space12"></div>
                                                <a href="javascript:;" id="event_add" class="btn">Add Event</a>
                                            </form>
                                            <hr />
                                            <div id="event_box">
                                            </div>
                                            <label for="drop-remove">
                                                <input type="checkbox" id="drop-remove" />remove after drop
                                            </label>
                                            <hr class="visible-phone" />
                                        </div>
                                        <!-- END DRAGGABLE EVENTS PORTLET-->
                                    </div>
                                    <div class="span9">
                                        <div id="calendar" class="has-toolbar"></div>
                                    </div>
                                </div>
                                <!-- END CALENDAR PORTLET-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
        @Scripts.Render("~/bundles/calendar")
        <script>
            jquery(document).ready(function () {
                App.init();
            });
            
            
        </script>
    </div>
<!-- END PAGE -->
