@model IEnumerable<Timeclock.Models.HoursModel>

@{
    ViewBag.Title = "Hours";
}

<div id="page">
    <div class="container-fluid">

        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.hours }) |
                        @Html.ActionLink("Details", "Details", new { id = item.hours }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.hours })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
